body {
    margin: 0;
    width: 100%;
    height: 100%;
    position: absolute;
    overflow: hidden;
}

select {
    font-size: 2vh;
    width: 40vh;
    height: 4vh;
    border: 0.25vh solid rgba(0, 0, 0, 0.054)
}

button {
    box-sizing: border-box;
    font-size: 2vh;
    width: 40vh;
    height: 6vh;
    border: 0.25vh solid rgba(0, 0, 0, 0.054)
}

input[type='text'] {
    outline: none;
    box-sizing: border-box;
    font-size: 3vh;
    width: 40vh;
    height: 4vh;
    border: 0.25vh solid rgba(0, 0, 0, 0.054)
}

textarea {
    resize: none;
    outline: none;
    box-sizing: border-box;
    font-size: 1vh;
    width: 40vh;
    height: 16vh;
    border: 0.25vh solid rgba(0, 0, 0, 0.054)
}

.app{
    overflow: hidden;
}
