.preview__image {
    display: flex;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.156);
}

.canvas {
    max-height: 100vh;
    background-color: rgba(0, 0, 0, 0.156);
}

.record__logs {
    position: fixed;
    right: 0;
    top: 0;
}
