.preview__image {
    display: flex;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.156);
}

.canvas {
    max-height: 75vh;
    background-color: rgba(0, 0, 0, 0.156);
}

.preview__logger-wrapper {
    width: 100vw;
    height: 20vh;
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}
